
.pagetitle {
    margin-top: 10px;
    margin-left: 20px;
}

.pagetitle h1 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: #001529;
}

.title h1 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 12px;
    margin-bottom: 0;
    font-weight: 500;
    color: grey;

}