
.site-layout {   
    margin: 0px;
    padding: 0px;

}

.content {
    margin-top: 1px;

}

.changeto{
    color:#fff;
    
}

.Fonthead {
    font-size: 30px;
    color: #22355c;
    font-weight: 500;
    font-family: "poppins", sans-serif;
   
}

.subtext {
    font-size: 12px;
    margin-top: 10px;
    color: #747474;
    font-weight: 200;
    font-family: "poppins", sans-serif;

}


