
.site-layout {   
    margin: 0px;
    padding: 0px;

}

.content {
    margin-top: 1px;

}

.changeto{
    color:#fff;
    
}

.Fonthead {
    font-size: 25px;
    color: #22355c;
    font-weight: 500;
    font-family: "poppins", sans-serif;
   
}

.subtext {
    font-size: 14px;
    margin-top: 10px;
    color: #747474;
    font-weight: 200;
    font-family: "poppins", sans-serif;

}

.card {
    margin-top:20px;

}

.btn-primary {
    
    color: blue;
    

}
.column-name {
  
    font-size:15px;
    font-weight: 50px; 
    color: #1E3561;

  }
  .custom-data-table .rdt_TableRow:hover {
    background-color: #CDDDF0; /* Set background color for hover effect */
  }
  
  .custom-data-table .rdt_Selected {
    background-color: #CDDDF0 ; 

  }

  .btn-primary-edit {
    background-color: #1E3561; 
    border-radius: 5px;
    color: white; 
    padding: 8px 16px; 
    cursor: pointer; 
    margin-right: 8px; 
  }
  
  .btn-primary-delete {
    background-color: #BD2E2E;
    border-radius: 5px; 
    color: white; 
    padding: 8px 16px; 
    cursor: pointer; 
  }


  .search-box {
    width: 270px;
   /* Adjust width as needed */
    padding: 3px; /* Adjust padding as needed */
    border: 2px solid #989898; /* Border style */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    outline: none; /* Remove outline on focus */
  }
  
  .search-box::placeholder {
    color: #989898 !important; /* Placeholder text color */
  }
  
  /* Optional: Add hover and focus styles */
  .search-box:hover,
  .search-box:focus {
    border-color: #007bff; /* Border color on hover/focus */
  }

  .ant-btn-primary {
    color:#fff; 
    background-color: #86A7E8; /* Change the button background color */
    border-color: #86A7E8; /* Change the button border color */
   /* Change the color to your desired color */
}

.ant-modal-content {
  width: 100%;
  height: 250px;
}
.Column-spacing {
  padding-right: 10px; /* Adjust the margin-right value as needed */
}

.buttonExport {
  border-radius: 10px;
}

.custom-modal .ant-modal-content {
  height: 370px; /* Set maximum height to 80% of viewport height */
}
