<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

* {
    margin: 0;
    padding: 0;
}

.main-bg-question{
 
    background-color: #FFFBF0;
    min-height: 100vh;
   
    background-position: center;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 300px;
 
 
}

.audio-recorder{
    
    max-width: 200rem;
    border-radius: 50%;
    background-color:  #fff; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    cursor: pointer; /* Add a pointer cursor to indicate interactivity */
    
}


.audio-recorder:hover{
    color:green;
}