@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../Image/BgAdmin.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}